@media (max-width:1440px) {
    .fa-magnifying-glass {
    display: none;
  }
}

@media (max-width:1182px) {
    .section-card {
        gap: 32px;
    }

    .card {
        width: 46%;
    }

    .card-title-activite {
        min-height: 35px;
    }

}

@media (max-width:1079px)  {
    .section-card {
        gap: 40px;
    }

    .card {
        width: 46%;
    }
}

@media (max-width:1024px) {

    body {
        padding-bottom: 0;

    }

    .fa-magnifying-glass {
        display: none;
    }

    .section-groupe {
        flex-direction: column;
        align-items: center;
    }

    .offres {
        width: 93%;
    }

    .section-groupe {
        gap: 50px;
    }

    .populaires {
        width: 93%;
        margin-bottom: 35px;
    }

    .section-title2 {
        margin-bottom: 20px;
   }

    .card-column {
        display: flex;
        flex-direction: row;
    }

    .card {
        width: 30%;
    }

    .section-card {
        gap: 30px;
        justify-content: center;
    }

    .card-populaire {
        width: 100%;
        max-width: 500px;
    }

    .photo-de-chambre2 {
        max-width: 92px;
    }

    .card-title-activite {
        min-height: 35px;
    }
}

@media (max-width:860px) {
    .card-column {
        flex-direction: column;
    }

    .filtre3 {
        gap: 10px;
    }

    .card-title-activite {
        min-height: 55px;
    }

    .card {
        width: 46%;
    }

    .section-card {
        gap: 50px;
    }

}

@media(max-width:820px) {
    .section-card {
        gap: 34px;
    }

    .card {
        width: 46%;
    }
}

@media (max-width:768px) {                                                          

    main {
        padding: 0px 20px;
    }

    header {
        flex-direction: column;
        align-items: center;
        height: 115px;
    }

    nav {
        width: 100%;
        align-items: center;
    }

    nav a {
        width: 50%;
        align-items: center;
        padding-top: 0px;
    }

    .a-propos:hover , .hebergements:hover {
        border-bottom: 2px solid #0065FC;
        color: #0065FC;
        border-top: none;
        width: 50%;
        padding-top: 0px;
    }

    .fa-magnifying-glass {
        display: none;
    }

    .filtres {
        display: block;
    }

    .a-propos , .hebergements {
        margin-left: 0px;
        padding-bottom: 15px;
    }
    .section-groupe {
        padding: 0px;
        align-items: center;
    }

    .section-card {
        display: flex;
        gap: 42px;
    }

    .offres {
        width: 100%;
        padding: 20px;
    }

    .card {
        width: 46%;
        max-width: 420px;
    }

    .populaires {
        padding: 20px;
    }

    .photo-de-chambre2 {
        max-width: 112px;
    }

    .card-column {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .bouton {
        width: 170px;
        height: 50px;
        font-size: 16px;
        justify-content: center;
        align-items: center;
    }

    .filtre3 {
        width: 100%;
        gap: 15px;
    }

    .filtre-p {
        display: flex;
        justify-content: flex-start;
    }

    .card-title-activite {
        min-height: 55px;
    }

    .footer-a-propos-info {
        gap: 10px;
    }
}

@media screen and (max-width: 720px) {
    .section-activite {
        padding: 30px 10px;
    }

    .bouton {
        width: auto;
    }

    .card-activite-marseille {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .card-activite {
        width: 100%;
        max-width: 420px;
    }

    .photo-activite {
        height: 141px;
    }

    .card-text-activite {
        height: 60px;
    }

    footer {
        height: 190px;
    }

    .card {
        width: 46%;
    }

    .section-card {
        gap: 40px;
    }

 }

@media (max-width: 539px) {
    .card {
        width: 100%;
    }

    .section-card {
        justify-content: center;
    }

    .bouton {
        width: 100%;
    }

    footer {
        height: 100%;
    }  
    
    .footer-contenu {
        flex-direction: column;
    }

    .footer-a-propos {
        width: 100%;
    }

} 

@media (max-width: 412px) {

    .barre-recherche {
        justify-content: center;
        border: 1px solid #F2F2F2;
        border-radius: 15px;
    }

    .ville {
        border: none;
        width: 272px;
    }

    .recherche {
        display: none;
    }

    .fa-magnifying-glass {
        display: flex;
      }

    .cta {
        border-radius: 15px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }  

    .populaires {
        order: -1;
    }  

    .bouton {
        width: 175px;
    }

    .card {
        width: 100%;
    }

    .footer-contenu {
        flex-direction: column;
        padding: 30px;
    }

    .footer-a-propos {
        width: 100%;
    }

    footer {
        height: 100%;
        margin: 0;
    }

}

@media (max-width:375px) {

    .recherche {
        display: none;
    }

    .fa-magnifying-glass {
        display: flex;
      }

    .bouton {
        width: 160px;
    }

    .barre-recherche {
        /* justify-content: center; */
        border: 1px solid #F2F2F2;
        border-radius: 15px;
    }

    .ville {
        border: none;
    }

    .cta {
        border-radius: 15px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        font-size: 20px;
    }

    .populaires {
        order: -1;
    }

    .offres {
        background-color: white;
        margin-bottom: 35px;
    }

    .card {
        width: 100%;
    }

    .section-activite {
        padding: 30px 10px;
    }

    .card-activite-marseille {
        flex-direction: column;
        gap: 15px;
    }

    .card-activite {
        width: 100%;
    }

    .photo-activite {
        height: 141px;
    }

    .card-text-activite {
        height: 60px;
    }

    footer {
        height: 100%;
        margin: 0;
    }

    .footer-contenu {
        flex-direction: column;
        padding: 30px;
    }

    .footer-a-propos {
        width: 100%;
    }

}



 