@media (max-width:1440px) {
    .fa-magnifying-glass {
    display: none;
  }
}

@media (max-width:1182px) {
    .section-carte {
        gap: 32px;
    }

    .carte {
        width: 46%;
    }

    .carte-titre-activite {
        min-height: 35px;
        display: flex;
        align-items: center;
    }
}

@media (max-width:1079px)  {
    .section-carte {
        gap: 40px;
    }

    .carte {
        width: 46%;
    }

    .carte-titre-activite {
        min-height: 35px;
        display: flex;
        align-items: center;
    }
}

@media (max-width:1024px) {
    body {
        padding-bottom: 0;

    }

    .fa-magnifying-glass {
        display: none;
    }

    .section-groupe {
        flex-direction: column;
        align-items: center;
    }

    .offres {
        width: 93%;
    }

    .section-groupe {
        gap: 50px;
    }

    .populaires {
        width: 93%;
        margin-bottom: 35px;
    }

    .section-titre2 {
        margin-bottom: 20px;
    }

    .carte-column {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .carte {
        width: 30%;
    }

    .section-carte {
        gap: 30px;
        justify-content: center;
    }

    .carte-populaire {
        width: 100%;
        max-width: 500px;
    }

    .photo-de-chambre2 {
        max-width: 92px;
    }

    .carte-titre-activite {
        min-height: 35px;
        display: flex;
        align-items: center;
    }

    .photo-activite {
        height: 200px;
    }
}

@media (max-width:860px) {
    .carte-column {
        flex-direction: column;
        align-items: center;
    }

    .filtre3 {
        gap: 10px;
    }

    .carte {
        width: 46%;
    }

    .section-carte {
        gap: 50px;
    }

    .carte-activite-marseille {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .carte-activite {
        width: 100%;
        max-width: 500px;
    }

}

@media(max-width:820px) {
    .section-carte {
        gap: 34px;
    }

    .carte {
        width: 46%;
    }

    .carte-activite-marseille {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .carte-activite {
        width: 100%;
        max-width: 500px;
    }
}

@media (max-width:768px) {                                                          
    main {
        padding: 0px 20px;
    }

    header {
        flex-direction: column;
        align-items: center;
        height: 115px;
    }

    nav {
        width: 100%;
        align-items: center;
    }

    nav a {
        width: 50%;
        align-items: center;
        padding-top: 0px;
    }

    .a-propos:hover , .hebergements:hover {
        border-bottom: 2px solid #0065FC;
        color: #0065FC;
        border-top: none;
        width: 50%;
        padding-top: 0px;
    }

    .fa-magnifying-glass {
        display: none;
    }

    .filtres {
        display: block;
    }

    .a-propos , .hebergements {
        margin-left: 0px;
        padding-bottom: 15px;
    }
    .section-groupe {
        padding: 0px;
        align-items: center;
    }

    .section-carte {
        display: flex;
        gap: 42px;
    }

    .offres {
        width: 100%;
        padding: 20px;
        background-color: white;
    }

    .carte {
        width: 46%;
        max-width: 420px;
    }

    .populaires {
        padding: 20px;
        order: -1;
        width: 100%;
    }

    .photo-de-chambre2 {
        max-width: 112px;
    }

    .carte-column {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .bouton {
        width: 170px;
        height: 50px;
        font-size: 16px;
        justify-content: center;
        align-items: center;
    }

    .filtre3 {
        width: 100%;
        gap: 15px;
    }

    .filtre-p {
        display: flex;
        justify-content: flex-start;
    }

    .carte-titre-activite {
        min-height: 55px;
        display: flex;
        align-items: baseline;
    }

    .carte-activite-marseille {
        flex-direction: column;
        align-items: center;
        gap: 30px; }

    .carte-activite {
        width: 100%;
        max-width: 420px;
    }
    
    .photo-activite {
        height: 141px;
    }
    
    .carte-texte-activite {
        height: 60px;
    }    

    .bas-de-page-a-propos-info {
        gap: 10px;
    }
}

@media (max-width: 720px) {
    .section-activite {
        padding: 30px 10px;
    }

    .bouton {
        width: auto;
    }

    .carte-activite-marseille {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .carte-activite {
        width: 100%;
        max-width: 420px;
    }

    .photo-activite {
        height: 141px;
    }

    .carte-texte-activite {
        height: 60px;
    }

    footer {
        height: 190px;
    }

    .carte {
        width: 46%;
    }

    .section-carte {
        gap: 40px;
    }

 }

@media (max-width: 539px) {
    .carte {
        width: 100%;
    }

    .section-carte {
        justify-content: center;
    }

    .bouton {
        width: 100%;
    }

    footer {
        height: 100%;
    }  
    
    .bas-de-page-contenu {
        flex-direction: column;
    }

    .bas-de-page-a-propos {
        width: 100%;
    }

} 

@media (max-width: 412px) {
    .barre-recherche {
        justify-content: center;
        border: 1px solid #F2F2F2;
        border-radius: 15px;
    }

    .ville {
        border: none;
        width: 272px;
    }

    .recherche {
        display: none;
    }

    .fa-magnifying-glass {
        display: flex;
      }

    .cta {
        border-radius: 15px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }  

    .filtre3 {
        gap: 20px;
    }

    .carte-column {
        gap: 15px;
    }

    .populaires {
        order: -1;
    }  

    .bouton {
        width: 175px;
    }

    .carte {
        width: 100%;
    }

    .section-carte {
        gap: 15px;
    }

    .carte-activite-marseille {
        gap: 15px;
    }

    .bas-de-page-contenu {
        flex-direction: column;
        padding: 30px;
    }

    .bas-de-page-a-propos {
        width: 100%;
    }

    footer {
        height: 100%;
        margin: 0;
    }

}

@media (max-width:375px) {
    .recherche {
        display: none;
    }

    .fa-magnifying-glass {
        display: flex;
      }

    .bouton {
        width: 160px;
    }

    .barre-recherche {
        border: 1px solid #F2F2F2;
        border-radius: 15px;
    }

    .ville {
        border: none;
    }

    .cta {
        border-radius: 15px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        font-size: 20px;
    }

    .filtre3 {
        gap: 15px;
      }

    .carte-column {
        gap: 15px;
    }  

    .populaires {
        order: -1;
    }

    .offres {
        background-color: white;
        margin-bottom: 35px;
    }

    .carte {
        width: 100%;
    }

    .section-activite {
        padding: 30px 10px;
    }

    .carte-activite-marseille {
        flex-direction: column;
        gap: 15px;
    }

    .carte-activite {
        width: 100%;
    }

    .photo-activite {
        height: 141px;
    }

    .carte-texte-activite {
        height: 60px;
    }

    .section-carte {
        gap: 15px;
    }

    footer {
        height: 100%;
        margin: 0;
    }

    .bas-de-page-contenu {
        flex-direction: column;
        padding: 30px;
    }

    .bas-de-page-a-propos {
        width: 100%;
    }
}
 